@import '../../scss/mixins';
@import '../../scss/variables';

.button{
    overflow: hidden;
    height: 100%;
    display: flex;
    padding: 2px 4px;
    align-items: center;
    cursor: pointer;
    @include background-container;
    div{
        display: flex;
        align-items: center;
    }
    span{
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 14px;
        color: $color-primary;
        margin: 2px 4px;
        
    }
    
}

.icon{
    height: 100%;
    width: 20px;
    img{
        max-width: 100%;
        height: auto;
    }
}

.button:active, .button:disabled{
    cursor: initial;
    @include background-container-select;
}