@import '../../../scss/mixins';
@import '../../../scss/variables';


.hours{
    @include background-container-select;
    height: 100%;
    width: 75px;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    order: 1;
    span{
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 16px;
        color: $color-primary;
        margin: 2px 4px;
    }
    @media screen and (max-width: 500px) {
        width: 100%;
        order: 1;
        mix-blend-mode: multiply;
        position: relative;
        span{
            color: $color-secondary;
            position: absolute;
            font-size: 20px;
        }
    }
}
